@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    object-fit: cover;
    width: 100%;
}
.slick-prev, .slick-next{
    width: 30px;
    height: 30px;
}
.slick-prev:before, .slick-next:before{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 182, 93);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 2px;
    line-height: 50px;
}
.slick-prev:before{
    margin-left: -15px;
}
.slick-next:before{
    margin-left: 15px;
}